<div>
  <div class="modal-header">
    <h3> Build output </h3>
  </div>
  <div class="modal-body">
      <pre>{{ text }}</pre>
  </div> 
  <div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Close</button>
  </div>
</div>
