<div class="container">
  <form class="form-inline">
    <label>Select your platform:</label>&nbsp        
    <select class="input-xlarge" ng-model="platform" ng-options="p.name for p in platforms" ng-required="true">
      <option style="display:none" value="">Select a platform</option>
    </select>
  </form>
  <div ng-show="builds && builds.length > 0">
    <h3> Latest Build </h3>
    <div ng-show="isError(latestBuild)">
      <alert class="alert-error" type="error">This Build Failed!</alert>
    </div>
    <ul>
      <li>Built on:&nbsp{{latestBuild.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</li>
      <li>Changeset:&nbsp{{ latestBuild.actions[1].mercurialNodeName }}</li>
    </ul>
    <a ng-show="!isError(latestBuild)" ng-href="{{downloadURL(latestBuild)}}" class="btn btn-success" download>
      <i class="icon-white icon-arrow-down"></i> Download
    </a>
    <button class="btn btn-primary" ng-click="showChangelog(latestBuild)">Changelog</button>
    <buttton class="btn btn-primary" ng-click="buildOutput(latestBuild)">Output</buttton>
    <button class="btn btn-primary" ng-click="showHistory = ! showHistory">
      <i class="icon-white icon-th-list"></i> Show Older Builds
    </button>
    <hr>
    <accordion>
      <div ng-show="showHistory">
      <accordion-group ng-repeat="build in builds">
        <accordion-heading>
          Date:&nbsp{{build.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}
        </accordion-heading>
        <h3>Build Details</h3>
        <div ng-show="isError(build)">
          <alert class="alert-error" type="error">This Build Failed!</alert>
        </div>
        <ul>
          <li>Changeset:&nbsp{{build.actions[1].mercurialNodeName}}</li>
        </ul>
        <a ng-show="!isError(build)" ng-href="{{downloadURL(build)}}" class="btn btn-success" download><i class="icon-white icon-arrow-down"></i> Download</a>
        <button class="btn btn-primary" ng-click="showChangelog(build)">Changelog</button>
        <buttton class="btn btn-primary" ng-click="buildOutput(build)">Output</buttton>
      </accordion-group>
    <accordion>
    </div>
  </div>
  <div ng-show="loading">
    <img ng-src="images/ajax-loader.gif" alt="Loading...">
  </div>
</div> <!-- .container -->
